.recording-controls-container {
    height: 100%;
    background-color: black;
    overflow: auto;
    text-align: left;
    padding: 5px;
}

.recording-button {
    width: 100%;
    font-weight: bold;
    text-align: left;
    height: 14.29%;     /* 1/7th-- 6 buttons, one double sized */
    white-space: nowrap;
}

.recording-button-double {
    height: 28.57%; /* record-next is twice as big, to be easier to hit */
}

.recording-button-text-visible {
    font-weight: bold;
    text-align: left;    
}

.recording-button-text-hidden {
    display: none;
}
