.settings-panel {
    box-sizing: border-box;
    overflow: auto;
    width: 100%;
    background-color: #e0e0e0;
    text-align: left;
    color: black;
    border: none;
    padding: 5px;
}

.settings-table {
    width: 100%;
    border-collapse: collapse;
}

.settings-table-cell {
    border-bottom: thin solid #d0d0d0;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    padding: 3px;
    font-size: 14px;
    text-align: left;
}

.settings-caption-cell {
    vertical-align: top;
    max-width: 250px;
    padding: 3px 20px 3px 3px;
}

.settings-input {
    border: thin solid black;
}

.settings-extra-note {
    font-style: italic;
}

.settings-press-key {
    padding-top: 15px;
    font-weight: bold;
}

.settings-numeric-setting {
    width: 150px;
}

.switch { 
    border:1px solid #ccc;
    width:50px;
    height:26px;
    border-radius:13px;
    cursor:pointer;
    display:inline-block
}

.switch-toggle {
    border:1px solid #999;
    box-shadow:1px 1px 1px #ccc;
    width:25px;
    height:24px;
    left:0;
    border-radius:12px;
    background:#fff;
    position:relative;
    transition:left .2s ease-in-out
}

.switch.on {
    background:#1890ff;
}

.switch.on .switch-toggle {
    left:23px
}

.switch.disabled {
    cursor:not-allowed
}
